<% contentFor('header') %>
<%- include('../../partials/header') %>
<main>
    <h2><%= locals?.title %></h2>
    <%- include('./_form', { formAction: '/cities', city: {}, formMethod: null }) %>
</main>