<% contentFor('header') %>
<%- include('../partials/header') %>
<main>
    <h2><%= locals?.title %></h2>
    <p>This is first server rendered page!</p>
</main>
<% contentFor('footer') %>
footer only for landing page